#showPaymentBtn {
    background-color: #8a2be2;
    outline: none;
    border: none;
    border-radius: 11px;
}

#showPaymentBtn:hover {
    background-color: #6918b4;
}

#snapContainer {
    width: 100%;
}