.btn-primary {
    background-color: #7126b5;
    border-color: #7126b5;
    /* align-self: stretch; */
    border-radius: 0px 0px 11px 11px;
}

.btn-primary:hover {
    background-color: #8046b7;
    border-color: #8046b7;
}

.btn-primary:focus {
    background-color: #7126b5;
    border-color: #7126b5;
    outline: none;
    box-shadow: none;
}

.btn-primary:active {
    background-color: #8e6fdd !important;
    border-color: #8e6fdd !important;
}
